.Modal{
    position: fixed;
    top: 20%;
    left: calc(50% - 250px);
    width: 500px;
    z-index: 500;
    background: linear-gradient(#aaa, #ccc);
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px black;
    padding: 16px;
    box-sizing: border-box;
    transition: all 0.4s linear;
}

@media screen and (max-width: 600px){
    .Modal{
        width: 90%;
        left: 5%;
    }
}