.ButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Button{
    width: 100%;
    max-width: 300px;
    height: 60px;
    font-size: 27px;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
    padding: 15px;
    color: white;
    outline: 0;
    cursor: pointer;
}

.Success{
    background-color: rgb(23, 136, 23);
    border: 1px solid rgb(4, 99, 4);
    border-bottom: 8px solid rgb(4, 99, 4);
}

.Success:active{
    border: 8px solid rgb(4, 99, 4);
    border-bottom: 0px solid rgb(4, 99, 4);
}

.Danger{
    background-color: salmon;
    border: 1px solid rgb(158, 25, 25);
    border-bottom: 8px solid rgb(158, 25, 25);
}

.Danger:active{
    border: 8px solid rgb(158, 25, 25);
    border-bottom: 0px solid rgb(158, 25, 25);
}

.Info{
    background-color: rgb(50, 52, 83);
    border: 1px solid rgb(33, 35, 67);
    border-bottom: 8px solid rgb(33, 35, 67);
}

.Info:active{
    border: 8px solid rgb(33, 35, 67);
    border-bottom: 0px solid rgb(33, 35, 67);
}

.Disabled{
    background-color: #ccc;
    border: #aaa;
    cursor: not-allowed;
}

@media screen and (max-width: 768px){
    .ButtonContainer{
        margin-top: 20px;
    }
    
    .Button{
        width: 100%;
        max-width: 250px;
        height: 50px;
        font-size: 23px;
        text-align: center;
    }
}

@media screen and (max-width: 400px){
    .Button{
        width: 200px !important;
    }
}

