.Input{
    margin: 15px 0;
}

.Input label{
    font-size: 18px;
}

.Input input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-bottom: 2px solid rgb(207, 205, 205);
    border-left: 2px solid rgb(207, 205, 205);
    box-sizing: border-box;
    padding: 15px 10px;
    font-size: 18px;
    outline: 0;
    background-color: white;
}

.Invalid{
    background-color: rgba(133, 81, 81, 0.836) !important;
    border: 1px solid crimson !important;
}

@media screen and (max-width: 768px){

    .Input{
        margin: 12px 0;
    }
    
    .Input label{
        font-size: 16px;
    }
    
    .Input input{
        font-size: 16px;
    }

}