.ContainerDown{
    box-sizing: border-box;
    padding: 45px 2%;
    box-sizing: border-box;
}

.ContainerDown .BoxItems{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 998px){
    .ContainerDown .BoxItems{
        flex-direction: column;
    }
}